{% extends "knowledge_archives/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h3>Add a new entry:</h3>
{% endblock page_header %}

{% block content %}
    <p><a href="{% url 'knowledge_archives:topic' topic.id %}">{{ topic }}</a></p>
    <form action="{% url 'knowledge_archives:new_entry' topic.id %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Add entry</button>
        {% endbuttons %}
    </form>

{% endblock content %}
